.cabecalho{background-color: aqua;
color: azure;
display: flex;
justify-content: space-around;}

.imagem-logo{width: 80px;}

.sobre{background-color: rgb(33, 33, 210);
color: rgb(233, 223, 223);
text-align: center;
padding: 40px;}

*{
    margin: 0;
    padding: 0;
}
 .vendas{
    text-align: center;
    margin: auto; 
    background-color: aqua;
 }
 .vendas-div{
    display: inline-block;
    width: 30%;
    margin: 10px;
    background-color: blue;
    padding-bottom: 20px;
 }
.vendas-imagem{
   width: 60% ;
   height: 200px ;
   object-fit: cover;
}
.vendas-titulo {
   margin-top: 15px;
}